:root {
    --post-max-width: 800px!important;
    --content-font-size: 1.2rem!important;
    --content-line-height: 2.0rem!important;
    --base-color: #3f8cd9;
    --post-head-color: #dbdbe2;
    --toc-bg-color: #8e8787;
    --night-toc-bg-color: #e5e5e5;
    --tag-bg-color: #ff5f5f;
    --header-bg-color: #fff;
    --header-child-hover-bg-color: #f5f5f5;
    --index-title-color: #555;
    --base-font-color: #34495e;
    --summary-color: #81878f;
    --night-input-color: #a9a9b3;
    --night-background: #292a2d;
    --night-color: #a9a9b3;
    --night-input-backgrround: #232125;
    --color: #333;
    --background: #f7f7f7;
    --dark-backgound: #232125;
    --cardbgcolor: #fff;
    --cardcolor: #333;
    --cardtitlecolor: #333;
    --navbarcolor: #333;
    --navbarbgcolor: rgba(255,255,255,.7);
    --img-default-filter: none;
    --img-hover-filter: none;
    --btn-bg-color: whitesmoke;
    --btn-color: #333;
    --btn-hover-color: #eee;
    --link-color: #42b983;
    --link-hover-color: #42b983;
    --code-bg-color: #f1f3f3;
    --code-default-color: #a2a1a1;
    --code-line-numbers-bg-color: #ebeded;
    --code-line-numbers-color: #888;
    --code-keyworks-color: #7012cc;
    --code-class-color: #f2777a;
    --code-cdata-color: hsl(313,67%,36%);
    --code-symbol-color: hsl(33,83%,45%);
    --code-variable-color: hsl(281,89%,64%);
    --code-regex-color: #e90;
    --code-deleted-color: red;
    --code-toolbar-bg-color: #ebeded;
    --code-toolbar-color: #1485fe;
    --code-line-numbers-rows-color: #888;
    --toc-dot-color: #1485fe;
    --toc-dot-active-color: #1485fe;
    --toc-dot-active-bg-color: #ebedef;
    --toc-vertical-line-color: #1485fe;
    --toc-item-bg-hover: #1485fe;
    --code-dark-color: #969896;
    --code-dark-bg-color: #2d2d2d;
    --code-dark-line-numbers-bg-color: #333;
    --code-dark-keywords-color: #cc99cd;
    --code-dark-class-color: #e2777a;
    --code-dark-cdata-color: #999;
    --code-dark-symbol-color: #f8c555;
    --code-dark-variable-color: #67cdcc;
}

body {
	font-family: "Noto Serif SC",Helvetica,Arial,Menlo,Monaco,monospace,sans-serif;
}

.post-content {
    position: relative;
    font-size: var(--content-font-size);
}

.post-content p {
    font-weight: 400;
    text-indent: 0;
    text-align: justify;
    letter-spacing: 1px;
    font-size: var(--content-font-size);
    z-index: 999;
    line-height: var(--content-line-height);
    margin: 12px 0!important;
}

code, pre {
	font-family: 'Source Code Pro', consolas, Menlo, "Linux Biolinum", 'Noto Serif SC', sans-serif, monospace!important;
}